.hero {
  height: 100vh;
  background-image: url("../../assets/screen.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.hero_conteiner {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main__bl {
  display: flex;
  flex: 1;
  gap: clamp(1rem, 3vw, 5rem);
  padding: 20px 45px;
  align-items: center;
  min-height: 0;
  max-width: 1240px;
  margin: auto;
}

.main_nav {
  display: flex;
  justify-content: space-evenly;
}

.main__screen {
  max-width: 1440px;
  margin: 0 auto;
}

.section_up {
  display: flex;
  padding-inline: 5rem;
  justify-content: space-between;
  align-items: flex-end;
}

.main__block {
  display: flex;
  gap: 6.5rem;
  padding-inline: 8%;
}

.main__content {
  display: flex;
  flex: 1;
  min-width: 0;
  flex-direction: column;
  justify-content: center;
}

.img_cont {
  flex: 0 1 35%;
  max-height: 60vh;
  overflow: hidden;
}

.main_foto {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

@media (max-width: 1024px) {
  .main_foto {
    padding: 1rem 1rem;
  }

  .main__block {
    padding-inline: 6%;
    gap: 3%;
  }

  .section_up {
    align-items: center;
  }
  .content {
    padding-inline: 6%;
  }
}

.main__title {
  font-family: Montserrat;
  font-size: clamp(12px, 4vw, 14px);
  font-weight: 700;
}

.main__title .second-line {
  padding: 0.5em 0 1em;
}

.second-line {
  display: block;
  font-size: clamp(14px, 3vw, 30px);
  padding-block: 2em;
}

.school_name {
  position: relative;
  display: inline-block;
  font-family: Manrope;
  color: transparent;
  -webkit-text-stroke: 1px black;
  font-weight: 900;
  font-size: clamp(25px, 6vw, 45px);
}

.school_name::after {
  content: attr(data-text);
  position: absolute;
  top: 6px;
  left: 6px;
  color: #00a2ff1d;
  -webkit-text-stroke: 5px #00a2ff0f;
}

.subtitle {
  font-size: clamp(14px, 2vw, 2rem);
  padding-bottom: 0.5em;
}

.text {
  font-size: clamp(12px, 1.1vw, 18px);
  text-align: justify;
  padding-bottom: 0.5em;
}

.classses-desc {
  text-align: center;
  font-size: clamp(0.9rem, 1.1vw, 1.5rem);
}

.offer {
  font-size: 24px;
  font-family: Nunito;
  text-align: center;
  padding: 5px;
  font-weight: 700;
  display: inline-block;
  margin-top: 1.2rem;
}

.content {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  padding: 5%;
}

.adress {
  display: flex;
  column-gap: 5%;
  margin-bottom: 2%;
  align-items: center;
  font-size: clamp(0.9rem, 1.1vw, 1.5rem);
}

.rules {
  line-height: 2;
  font-size: clamp(0.9rem, 1.1vw, 1.5rem);
}

@media (max-width: 768px) {
  .adress {
    flex-direction: column;
  }
  .main__bl {
    flex-direction: column;
  }

  .img_cont,
  .main__content {
    width: 80%;
    align-items: center;
  }
}
