.cards_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  gap: 30px;
 
}

@media (max-width: 768px) {
  .cards_container {
     grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

}
